.box{
 
 
}


.box10{
  width:10%;
}

.box20{
  width:20%;
  
}

.box30{
  width:30%;  
}

.box40{
  width:40%;
  
}

.box50{
  width:50%;
  
}

.box60{
  width:60%;
  
}

.box70{
  width:70%;
  
}

.box80{
  width:80%;
  
}

.box90{
  width:90%;
  
}

.box100{
  width:100%;
  
}