
.text_field{
   margin-bottom: 7%;
}


.button_field{
  margin-top: 6px;
  background-color: white;
  border: 3px solid black;
  height: 300px;
  width: 100%;
  outline: 0;
}
.button_field:hover{
  
  background-color: black;
  color:white;
}

.post1{
  width: 70%;
  margin: auto;
}

.boxextra{
  display: inline-block;
  vertical-align: top;
  /* margin-left: 1%; */
  /* margin-bottom: 1%; */
  padding: 3%;
}



.post{
  display: inline-block;
  width: 42%;
  vertical-align: top;
   margin-left: 1%; 
  /* margin-bottom: 1%; */
  padding: 3%;

}
/*above line post*/
.post-bar{
  display: inline-block;
  width:100%;
    border-top: 4px solid black;
}

.title-box{
  display: inline-block;
  margin-right: 14px;
}

.title-post{
  text-transform: uppercase;
  font-size: 23px;
  color: black;
  margin-top: 7%;
}

.title-post:hover{
  color: rgb(25, 251, 244);
}
.user-box{
  display: inline-block;
}
.user-post{
}


.likes {
  display: inline-block;
  font-size: 23px;
  float: right;
  margin-top: 5.5%;
}

/*under-picture-post*/
#link-my-post{
    border: 2px solid black;
  width: 29%;
  text-align: center;
  /* height: 18%; */
  test-transform: uppercase;
  display: inline-block;
}

#link-my-post:hover{
  background-color: black;
  color:white;
}

#link-my-post a:hover{
  background-color: black;
  color:white;
}
#link-my-post a{
  color:black;
  font-size: 14px;
}


.comment-form {
text-transform: uppercase;
/*display: none;*/
}

.post{
 /* display: inline-block;
  width: 42%;
  vertical-align: top;
   margin-left: 1%;*/ 
  /* margin-bottom: 1%; */
/*  padding: 3%;*/

}

.title:after {
  margin-top: -15%;
  background-color: #333;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.title.line-on-right:after {
  width: 100%;
  margin-top: -25%;
}

.image-style img {
  width: 100%;
}

.post-bar{
  height: 57px;
}

.empty-box {
  display: inline-block;
}

.like-button{
  background-color: transparent;
  border: 2px solid #1B1919;
  color: #181515;
  padding: 0.9px 9px;
  font-size: 15px;
  margin: 2px;
  text-transform: uppercase;
  margin-top: -5%;
}

.like-button:hover{
  background-color: black;
  color:white;
}


.order {
  color: white;
}

.your-posts {
  display: inline-block;
  vertical-align: top;
    margin-right: -4px;
  width: 50%;
  margin-bottom: 25px;
}

.your-posts form {
  border-top: 4px solid black;
}

.your-posts-inner {
  padding: 0 20px;
  margin-bottom: 10%;
}

.image-style {
  overflow: hidden;
  height: 300px;
}

.float-left {
  float: left;
}


.float-right {
  float: right;
}

.menu-botton-pic{
    margin-top: 2%;
}

.logo.green:hover { color: #1ace84; }
.logo.purple:hover { color: #a262c0; }
.logo.teal:hover { color: #4ac0aa; }
.logo.violet:hover { color: #8c78ba; }
.logo.pink:hover { color: #d529cd; }


#post_title{
    margin-top: 4%;
  margin-bottom: 2%;
  border: 2px solid black;
  /* margin: 100%; */
  width: 99%;
  height: 20px;
  outline: 0;
}

.control-label{
  display: none
}

.like-count-js{
  margin-top: -58%;
}

.delete-post{
  background-color: transparent;
  border: 2px solid #1B1919;
  color: black;
  padding: 0.9px 9px;
  font-size: 15px;
  margin: 2px;
  text-transform: uppercase;
  margin-top: -10%;
}

.delete-post:hover{
  background-color: black;
  color:white;
 
}

.delete-div{
  margin-top: 3%;
}

.search-submit{
  background-color: transparent;
  border: 2px solid #FAFAFA;
  color: #FCFAFA;
  padding: 0.9px 9px;
  font-size: 15px;
  margin: 2px;
  text-transform: uppercase;
}
.search{
  border: 2px solid white;
  outline: 0;
  margin-top: 7%;
  margin-left: 64%;
}
.search input{
  color:white;
}
.sign{
    margin-top: 3%;
}

.likes-homepage{
  margin-top: 1%;
  border: 2px solid black;
  /* padding: 0.5px; */
  width: 22px;
  height: 18px;
  margin-top: 0%;
  text-align: center;
  margin-top: 0%;
  display: inline-block;
  font-size: 19px;


}
.save-post{
 background-color: transparent;
  border: 2px solid #1B1919;
  color: #181515;
  padding: 0.9px 9px;
  font-size: 15px;
  margin: 2px;
  text-transform: uppercase;
  margin-top: -5%;
}

#like-homepage{
    margin-top: -14%;  
}

