
.comment-form {
text-transform: uppercase;
display: none;
}

.post{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-left: 1%;
    margin-bottom: 1%;

}



.title:after {
  margin-top: -15%;
  background-color: #333;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.title.line-on-right:after {
  width: 100%;
  margin-top: -25%;
}

.image-style img {
  width: 398px;
  margin-top: -16%;
  margin-left: 4%;
}
}

.post-bar{
  height: 57px;
}

.title-box{
  display:inline-block;
}
.title-post{
  text-transform: uppercase;
  font-size: 23px;
}

.likes {
  display: inline-block;
  font-size: 23px;
  margin-left: 1%;
  float: right;
}

.like-button{
  background-color: transparent;
  border: 2px solid #1B1919;
  color: #181515;
  padding: 6px 9px;
  font-size: 21px;
  margin: 12px ; 
  text-transform: uppercase;
  margin-top: -5%;
}

.like-button:hover{
  background-color: black;
  color:white;
}


