
/*Nav bar*/
.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 59px;
  background: black;
}

.nav-container{
  width: 85%;
  margin-left: 16%;
  height:59px;
}

.bar {
  display: inline-block;
  height:59px;
  vertical-align: top;
  margin-top: 1%;


}

.nav-left{
    width: 13%;
 

}
.nav-center{
  width: 37%;
  
    margin: 12px 0;

}
.nav-right{
  width: 28%;
}


.logo a{
  color: white;
  font-size: 35px;
  font-family: helvetica;
  /* margin-left: 16%; */
  margin-top: 4%;
  text-decoration: none;
 
}

.fa-search:before {
  content: "\f002";
  font-size: 1.5em;
}


/*.fa-pinterest-p:before {
  content: "\f231";
  font-size: 2em;
}

.fa-instagram:before {
  content: "\f16d";
  font-size: 2em;
}

.fa-facebook-square:before {
  content: "\f082";
  font-size: 2em;
}*/
.search-form{
  
}


a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: helvetica;

}

.space-nav{
  height:120px;
}

.search-form{
text-transform: uppercase;
display: none;
}

.nav-main-menu {
  list-style-type: none;
 
}

.nav-main-menu li {
  display: inline-block;
  margin: 0 10px;
}

#link-my-post a{
  color: black;
}
.fa {
  color: white;
  font-size: 2em;
}
.main-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px
}

.scrollToTop{
    width: 83px;
    height: 21px;
    padding: 4px;
    text-align: center;
    background: #131212;
    /* font-weight: bold; */
    font-family: helvetica;
    color: #FFF;
    text-decoration: none;
    position: fixed;
    top: 77px;
    right: 15px;
    display: none;

}
.scrollToTop:hover{
  text-decoration:none;
}


.savedb{
  position: absolute;
    /* top: 53px; */
    margin-top: -12%;
    text-align: center;
    margin-left: 13%;
    display: none;
}

.likedb{
   position: absolute;
    /* top: 53px; */
    margin-top: -12%;
    text-align: center;
    margin-left: 13%;
    display:none;
}

.likedbshow{
  display: block;
}

.savedbshow{
  display: block;
}




