.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 83px;
  background: black;
}

.container{
  width: 85%;
  margin: 0 auto;
  height:83px;
}

.bar {
  display: inline-block;
  height:83px;
  vertical-align: top;
  width: 33%
}

.nav-right{
 

}
.nav-center{
  text-align: center;

}
.nav-left{
 
}


.logo a{
  color: white;
  font-size: 52px;
  font-family: helvetica;
  /* margin-left: 16%; */
  margin-top: 4%;
  text-decoration: none;
 

}
.search-form{
  
}


a {
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  text-decoration: none;

}

.space-nav{
  height:120px;
}

.search-form{
text-transform: uppercase;
display: none;
}

.nav-main-menu {
  list-style-type: none;
  padding-left: 30px;
  margin: 32px 0;
}

.nav-main-menu li {
  display: inline-block;
  margin: 0 10px;
}

#link-my-post a{
  color: black;
}
.fa {
  color: white;
}
