.above-line-show{
  border-top: 4px solid black;
  width: 39%;
  margin-left: 17.6%
}

.show-container-left{
  width:50%;
  display: inline-block;
}

.show-container-right {
  display: inline-block;
  width: 20%;
  margin-left: 20%;
  vertical-align: top;
}
.like-show{
  display: inline-block;
  font-size: 24px;
  margin-left: 10%;
  float: right;
}

.title-show{
    text-transform: uppercase;
    font-size: 22px;
    display: inline-block;
    margin-top: 14px;
    margin-right: 17px;
}


.line-show {
  height: 8px;
  background-color: black;
  border: none;
  width: 111%;
  margin-left: 69px;
}


.image-show-page img{
  width: 550px;
  margin-left: 18%;
}

.show-container-right{
}
.show-created-at{
  display: inline-block;
  font-size: 13px;
  text-transform: capitalize;

}

.user-show{
  display: inline-block;

}

#comments-scroll{
  overflow: scroll;
  height: 500px;
  margin-top:9%;
}
.comment-box{
    width: 21%;
    margin-left: -2%;
    border-top: 4px solid black;
    margin-top: -3%;
}

.title-post-box{
    font-size: 22px;
    margin-top: 14px;
}

.commit-comment{
    border: solid black 2px;
    /* padding: 30%; */
    height: 30%;
    height: 14%;
    /* padding: 14%; */
    width: 79%;
    height: 27px;
    /* margin-left: 10%; */
    margin-top: 6%;
    outline: 0;
    /* size: 14px; */
    padding: 32px;

}
.box50-show{
    margin-left: 12%;
}

.create-comment{
  background-color: transparent;
  border: 2px solid #1B1919;
  color: #181515;
  padding: 0.9px 9px;
  font-size: 15px;
  margin: 2px;
  text-transform: uppercase;
  margin-top: 4%;
  outline: 0;
}
.fa-comment-o{
  color:black;
}
button{
  outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

p{
  text-transform:capitalize;
}
