.like-show{
  display: inline-block;
  font-size: 30px;
  margin-left: 33%;
}

.title-show{
  text-transform: uppercase;
  margin-left: 22%;
  font-size: 29px;
  display: inline-block;
}


.line-show {
  height: 8px;
  background-color: black;
  border: none;
  width: 56%;
}


.image-show-page img{
    width: 800px;
    margin-left: 15%;
}

