
.show-container-left{
  width:50%;
  display: inline-block;
}

.show-container-right {
  display: inline-block;
  width: 20%;
  margin-left: 20%;
  vertical-align: top;
}
.like-show{
  display: inline-block;
  font-size: 30px;
  margin-left: 10%;
}

.title-show{
  text-transform: uppercase;
  margin-left: 22%;
  font-size: 29px;
  display: inline-block;
}


.line-show {
  height: 8px;
  background-color: black;
  border: none;
  width: 111%;
  margin-left: 69px;
}


.image-show-page img{
  width: 649px;
  margin-left: 18%;
}

.show-container-right{

}

#comments-scroll{
  overflow: scroll;
  height: 500px;
}
