
<div class="main-title">Upload Your Images</div>

<%= form_for([@post, @image], html: {class: "dropzone", id: "media-dropzone"}) do |f| %>
  <div class="fallback">
    <%= f.file_field "avatar", multiple: true%>
  </div>
<% end %>

<div id="media-contents">

</div>

